html body {
    padding: 0;
    margin: 0;
    color: #1E2F3F;
    /*font: 14px/16px Arial, Helvetica, sans-serif;*/
    font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
}

.credit {
    text-align: center;
    font-size: 1em;
    margin: 0;
    padding: 0;
}

.about {
    padding-top: 50px;
    margin: 0 auto;
}

h2 {
    font-family: 'Droid Serif', Georgia, Times, serif;
    color: #1E2F3F;
    margin: 0;
    padding: 0;
}

a href {
    color: #1E2F3F;
}
                
#map {
    width: 100%;
    position: absolute;
    top:0;
    bottom: 0;
}


.info {
    padding: 6px 8px;
    font-size: 14px/16px;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.info.leaflet-control {
    margin-right: 45px;
    width: 350px;
    background: white;
}

.info.legend {
    margin-right: 45px;
    width: 125px;
}

.legend {
    background: white;
    position: absolute;
    bottom: 40px;
    right: 5px;
    margin-right: 10px;
    text-align: left;
    line-height: 18px;
    color: #555;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

#popup {
    height: 500px;
    width: 500px;
    background: white;
    visibility: hidden;
}

.neighborhood-name {
    margin: 0;
    padding: 0;
}
.neighborhood-info {
    margin: 0;
    padding: 0;
}

.percent-info {
    font-size: 1.1em;
}